img {
  background-origin: padding-box;
}

img.img-prod {
  width: 250px;
}

.tns-nav {
  position: absolute;
  margin-top: -50px;
  margin-left: 50%;
}

.tns-nav>button {
  height: 1rem;
  background-color: transparent;
  border: 2px solid #fff;
  margin-left: 10px;
  border-radius: 50%;
}

.tns-nav .tns-nav-active {
  background-color: #fff;
}

.control>li {
  position: relative;
  cursor: pointer;
}

#banner-control>li {
  top: -20rem;
  color: #fff;
  background: transparent;
  padding: 5px 13px;
  border-radius: 50%;
  border: 2px solid currentColor;
}

#banner-control>li:hover {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0);
}

#product-control>li {
  top: -15rem;
  color: rgba(0, 0, 0, 0.5);
}

#product-control i:hover {
  color: #000;
}

.section-title>b {
  display: block;
  flex: 1;
  height: 2px;
  opacity: 0.1;
  background-color: currentColor;
}

/*.product {
  margin-right: 1.2em;
  margin-top: 1em;
}*/