nav {
  height: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

img {
  background-origin: padding-box;
  cursor: grab;
}

.b-slider {
  height: 600px;
}

.control {
  list-style: none;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.tns-nav {
  position: absolute;
  margin-top: -40px;
  margin-left: 50%;
}

.tns-nav button {
  height: 15px;
  width: 8px;
  background-color: transparent;
  border: 2px solid white;
  margin-left: 10px;
  border-radius: 50%;
}

.tns-nav .tns-nav-active {
  background-color: white;
}

#logo {
  width: 9rem;
  height: 5rem;
}

.control li {
  cursor: pointer;
}

#banner-control li {
  position: absolute;
  top: 350px;
  color: white;
  background: transparent;
  padding: 5px 13px;
  border-radius: 50%;
  border: 2px solid currentColor;
}

#banner-control li:hover {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0);
}

#topprod-control li {
  position: relative;
  margin: -200px -50px 0 -80px;
}

.section-title {
  display: flex;
  padding: 20px 0;
}

.section-title h3 {
  text-transform: uppercase;
  margin: 0 15px;
}

.section-title b {
  display: block;
  flex: 1;
  height: 2px;
  opacity: 0.1;
  background-color: currentColor;
}