nav {
  height: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

img {
  background-origin: padding-box;
  cursor: grab;
}

img.img-prod {
  width: 300px;
}

#logo {
  width: 9rem;
  height: 5rem;
}

.b-slider {
  height: 600px;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.tns-nav {
  position: absolute;
  margin-top: -50px;
  margin-left: 50%;
}

.tns-nav button {
  height: 1rem;
  background-color: transparent;
  border: 2px solid #fff;
  margin-left: 10px;
  border-radius: 50%;
}

.tns-nav .tns-nav-active {
  background-color: #fff;
}

.control li {
  cursor: pointer;
}

#banner-control li {
  position: absolute;
  top: 350px;
  color: #fff;
  background: transparent;
  padding: 5px 13px;
  border-radius: 50%;
  border: 2px solid currentColor;
}

#banner-control li:hover {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0);
}

#product-control li {
  position: relative;
  top: -15rem;
  color: rgba(0, 0, 0, 0.2);
}

#product-control i:hover {
  color: black;
}

.section-title b {
  display: block;
  flex: 1;
  height: 2px;
  opacity: 0.1;
  background-color: currentColor;
}

/*.section-title {
  display: flex;
  padding: 20px 0;
}

.section-title h3 {
  text-transform: uppercase;
  margin: 0 15px;
}*/


/*
.price span {
  display: inline-block;
  width: auto;
  height: 38px;
  background-color: #979797;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;
  
  border-left: 1px solid #979797;

  margin-left: 19px;
  
  position: relative;
  
  color: white;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;

  padding: 0 10px 0 10px;
}

.price span:before {
  content: "";
  text-align: right;
  position: absolute;
  display: block;
  left: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid #979797;
}

.price span:after {
  content: "";
  text-align: right;
  background-color: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -9px;
  top: 17px;
}
*/